@font-face {
    font-family: 'TimeBurner';
    src: url('../fonts/TimeBurner.woff2') format('woff2'),
        url('../fonts/TimeBurner.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 80%;
}

h1,
h6,
p {
    font-family: 'TimeBurner', fantasy;
    color: #f5f5f5;
}

